<!-- Mensaje -->
<div class="col-md-10 col-md-offset-1">
  <div class="message-show">
    <h2><%= @message.title %></h2>
    <p class="message-posted-by">Hace <%= time_ago_in_words(@message.created_at) %></p>
    <p class="message-desc"><%= @message.description %></p>

    <!-- Comentarios -->
    <h3 class="comment-section-header">Comentarios:</h3>
    <p><%= render @message.comments %></p>

    <% if user_signed_in? %>
      <h3 class="reply-to-msg">Únete a la discusión</h3>
      <%= render 'comments/form' %>
    <% else %>
      <h3 class="reply-to-msg">Registrate para unirte a la discusión</h3>
    <% end %>

    <!-- Administración del mensaje -->
    <% if user_signed_in? %>
      <% if @message.user_id == current_user.id %>
        <div class="links btn-group">
          <%= link_to "Arreglar", edit_message_path(@message), class: 'btn btn-primary' %>
          <%= link_to "Eliminar", message_path(@message), method: :delete, data: { confirm: "¿Estás seguro?" },
          class: 'btn btn-danger' %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
